*{
  font-family: 'Flexo';
}
@font-face {
  font-family: 'Flexo';
  src: url("../font/Flexo/Flexo-Regular.otf");
}
.pokedex-container{
  padding-left: 5%;
  padding-right: 5%;
}
.color-title {
  color: #eb6363;
}
.text-AZ-style{
  height: 60px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}
.row .col.m3 {
  width: 13%;
  height: 210px;
  margin: 40px;
  background-color: #EFEFEF;
}
p{
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.container-img{
  height: 65%;
}
.style-img{
  padding-top: 10%;
  height: 95%;
}
.space-between{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.center{
  display: flex;
  justify-content: center;
}
.center-column{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.style-name{
  margin: 0;
  position: relative;
  top: 90%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.style-trapecio{
  height: 50px;
}
.trapecio{
  width: 100%;
  height: 50px;
}
.tras{
  height: 45px;
  transform: translateY(-110%);

}
.poke-icon{
  width: 18px;
  height: 18px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.az{
  background-color: #648e61;
  width: 100px;
  height: 30px;
  color:  #fff;
  font-size: 20px;
  text-align: center;
}
