header{
  margin-left: 100px;
  margin-right: 100px;
}
@font-face {
  font-family: 'Flexo';
  src: url("../font/Flexo/Flexo-Regular.otf");
}
.style-title {
  color: #eb6363;
  font-family: 'Flexo';
}
